In [ ]:
#Lấy dữ liệu COVID từ trang web tạo thành file Data Excel,
#Tác giả:  Trịnh Huy Hiệp

In [ ]:
#Nhập các thư viện cần thiết ( đã cài ở CMD các thư viện: pandas, numpy, matplotlib, scipy, math)
#pip install pandas
#pip install numpy
#pip install matplotlib
#pip install scipy
#pip install math

Cài đặt thư viện Requests:

In [ ]:
pip install requests

Cài đặt thư viện LXML và các thư viện liên quan

In [ ]:
pip install lxml

In [ ]:
pip install html5lib

In [ ]:
pip install beautifulSoup4

#Dùng code để lấy dữ liệu từ trang web

In [ ]:
#Extracts data in table tables from website
import pandas as pd
import requests
from bs4 import BeautifulSoup
url = 'https://www.worldometers.info/coronavirus/'
req = requests.get(url)
page = BeautifulSoup(req.content, 'html.parser')
table = page.find_all('table',id="main_table_countries_today")[0]
print(table)
df = pd.read_html(str(table), displayed_only=False)[0]
covid19_data=df

#Mở xem dữ liệu đã lấy về

In [5]:
covid19_data

,#,"Country, Other",Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious, Critical",...,Total Tests,Tests/ 1M pop,Population,Continent,1 Case every X ppl,1 Death every X ppl,1 Test every X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,NaN,North America,131889132,NaN,1695941.0,NaN,127665129.0,350.0,2528062.0,6095.0,...,NaN,NaN,NaN,North America,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Asia,221500265,NaN,1553662.0,NaN,205673091.0,NaN,14273512.0,14733.0,...,NaN,NaN,NaN,Asia,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Europe,253406198,NaN,2101824.0,NaN,248754104.0,474.0,2550270.0,4453.0,...,NaN,NaN,NaN,Europe,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,South America,70200879,NaN,1367332.0,NaN,66683585.0,NaN,2149962.0,8953.0,...,NaN,NaN,NaN,South America,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Oceania,14895771,NaN,33015.0,NaN,14752388.0,NaN,110368.0,31.0,...,NaN,NaN,NaN,Australia/Oceania,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,NaN,Total:,70200879,NaN,1367332.0,NaN,66683585.0,NaN,2149962.0,8953.0,...,NaN,NaN,NaN,South America,NaN,NaN,NaN,NaN,NaN,NaN
243,NaN,Total:,14895771,NaN,33015.0,NaN,14752388.0,NaN,110368.0,31.0,...,NaN,NaN,NaN,Australia/Oceania,NaN,NaN,NaN,NaN,NaN,NaN
244,NaN,Total:,12860924,NaN,258892.0,NaN,12090808.0,NaN,511224.0,529.0,...,NaN,NaN,NaN,Africa,NaN,NaN,NaN,NaN,NaN,NaN
245,NaN,Total:,721,NaN,15.0,NaN,706.0,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,NaN,Total:,704753890,0.0,7010681.0,0.0,675619811.0,790.0,22123398.0,34794.0,...,NaN,NaN,NaN,All,NaN,NaN,NaN,NaN,NaN,NaN

#Lưu dữ liệu về 1 file Excel

In [ ]:
pip install openpyxl

In [ ]:
covid19_data.to_excel( 'D:/covid19.xlsx')

#Hoặc thành 1 file CSV:

In [ ]:
covid19_data.to_csv( 'D:/covid19.csv')